<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="cordova-plugin-device-settings"
	version="1.0.0">
	<name>DeviceSettings</name>
	<description>Device settings opener for Cordova</description>
	<license>MIT</license>
	<keywords>device-settings</keywords>
	<repo>NA</repo>
	<issue>NA</issue>

	<js-module src="www/settings.js" name="Settings">
		<clobbers target="cordova.plugins.DeviceSettings" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DeviceSettings">
				<param name="android-package" value="com.phonegap.plugins.devicesettings.DeviceSettings" />
			</feature>
		</config-file>

		<source-file src="src/android/DeviceSettings.java" target-dir="src/com/phonegap/plugins/devicesettings" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="DeviceSettings">
				<param name="ios-package" value="DeviceSettings"/>
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
			<array>
				<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>prefs</string>
					</array>
				</dict>
			</array>
		</config-file>

		<header-file src="src/ios/DeviceSettings.h" />
		<source-file src="src/ios/DeviceSettings.m" />
	</platform>

</plugin>
