<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-open-device-settings"
	version="1.0.0">

	<name>Device settings</name>
	<description>Device settings opener for Cordova</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<js-module src="www/settings.js" name="Settings">
		<clobbers target="cordova.plugins.settings" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/DeviceSettings.java" target-dir="src/com/phonegap/plugins/devicesettings" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DeviceSettings">
				<param name="android-package" value="com.phonegap.plugins.devicesettings.DeviceSettings" />
			</feature>
		</config-file>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="DeviceSettings">
				<param name="ios-package" value="DeviceSettings"/>
			</feature>
		</config-file>

		<header-file src="src/ios/DeviceSettings.h" />
		<source-file src="src/ios/DeviceSettings.m" />
	</platform>

</plugin>
